extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Duis placerat nulla eu odio volutpat hendrerit. Donec consequat ex eu nisi dictum volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et erat dolor.
                p Cras lorem elit, faucibus eu accumsan et, condimentum eget ipsum. In laoreet elit eu lobortis consequat. Vivamus pretium sapien et orci commodo, eu lobortis arcu rutrum. Sed lacinia, est vitae posuere hendrerit, diam elit dapibus lorem, malesuada gravida lorem est at urna. Nam faucibus, sapien eu facilisis auctor, magna lectus varius augue, vitae molestie elit sem ac ipsum. Nulla sed mollis nisi.  Suspendisse sollicitudin nulla nunc, nec tempor dui sollicitudin id. Sed vitae arcu velit.
                p Sed pharetra tortor at lobortis condimentum. Morbi accumsan suscipit erat. Mauris scelerisque magna sed tortor pretium, nec fringilla risus molestie. Integer non efficitur sem.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg",class="img-flid mb-4")
                    h2.mb-4 Seguridad
                    p Aliquam cursus sodales nibh, a rhoncus massa lobortis in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec consectetur neque nisl, in dignissim velit finibus eget. Morbi posuere laoreet augue, ac sodales sem interdum in.
                .col-md-4
                    img(src="img/icono_destinos.svg",class="img-flid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Aliquam cursus sodales nibh, a rhoncus massa lobortis in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec consectetur neque nisl, in dignissim velit finibus eget. Morbi posuere laoreet augue, ac sodales sem interdum in.
                .col-md-4
                    img(src="img/icono_precios.svg",class="img-flid mb-4")
                    h2.mb-4 Mejores Precios
                    p Aliquam cursus sodales nibh, a rhoncus massa lobortis in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec consectetur neque nisl, in dignissim velit finibus eget. Morbi posuere laoreet augue, ac sodales sem interdum in.
   

   

      

